/* loading page */
div.loader {
    width: 100vw;
    height: 100dvh;
    background-color: var(--bg-b);
    color: var(--bg-1);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .half-circle-one {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 50%;
     border: 2px solid var(--neongreen );
    border-bottom-color: transparent;
    border-left-color: transparent;
   
    border-bottom: none;
    color: var(--bg-2);
    font-size: var(--font-size-20);
    display: flex;
    align-items: center;
    justify-content: center;
  
    animation-name: loadingAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
  @keyframes loadingAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .half-circle-two {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    outline: none;
    border-radius: 50%;
     border: 2px solid var(--yellow);
    border-top-color: transparent;
    /* border-right-color: transparent; */
   
    border-bottom: none;
    color: var(--frenchred);
    font-size: var(--font-size-20);
    display: flex;
    align-items: center;
    justify-content: center;
  
    animation-name: loadingAnimation2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
  @keyframes loadingAnimation2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-720deg);
    }
  }
  .half-circle-three {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    outline: none;
    border-radius: 50%;
     border: 2px solid var(--css);
    border-top-color: transparent;
    /* border-right-color: transparent; */
   
    border-bottom: none;
    color: var(--frenchred);
    font-size: var(--font-size-20);
    display: flex;
    align-items: center;
    justify-content: center;
  
    animation-name: loadingAnimation3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
  }
  @keyframes loadingAnimation3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }




  .loading-grid {
    display: grid;
    grid-template-columns: repeat(4,40px);
    grid-template-rows: repeat(4,40px);
    background-color: inherit;
    box-sizing: border-box;
    gap: 2px;
    border: 1px solid var(--bg-2);
  }


.loading-grid-item1 {
    background-color: transparent;
    animation-name: item1;
    animation-duration: 3.555s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
  }
@keyframes item1 {
  0% {
    background-color: transparent;
  }
  100% {
    background-color:var(--red);
  }
}

.loading-grid-item2 {
  background-color: transparent;
  animation-name: item2;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
@keyframes item2 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--frenchred);
}
}

.loading-grid-item3 {
  background-color: transparent;
  animation-name: item3;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}
@keyframes item3 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--yellow);
}
}

.loading-grid-item4 {
  background-color: transparent;
  animation-name: item4;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
}
@keyframes item4 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--palegreen);
}
}

.loading-grid-item5 {
  background-color: transparent;
  animation-name: item5;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s;
}
@keyframes item5 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--seagreen);
}
}

.loading-grid-item6 {
  background-color: transparent;
  animation-name: item6;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
}
@keyframes item6 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--paleblue);
}
}

.loading-grid-item7 {
  background-color: transparent;
  animation-name: item7;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 6s;
}
@keyframes item7 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--purple);
}
}


.loading-grid-item8 {
  background-color: transparent;
  animation-name: item8;
  animation-duration: 3.555s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 7s;
}
@keyframes item8 {
0% {
  background-color: transparent;
}
100% {
  background-color: var(--purple-2);
}
}