.grid {
   display: flex;
   height: min-content;
   background-color: var(--bg-1); 
   gap: 1rem;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   /* width:min-content; */
   position: relative;
   
   
}

.grid-box {
   
    display: grid;
    
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--bg-2);
    background-color: var(--paleblue);
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: 40px minmax(300px,1fr);
    grid-template-rows: 40px minmax(300px,1fr);
    gap:2px;
    width: 100vw;
    max-width: 480px;
    background-color: khaki;
    aspect-ratio: 1/1;
    
}
.grid-box > div {
    cursor: grab;

    box-sizing: border-box;
    border: 1px solid var(--t-2);
    color:var(--bg-1);
    
}

.grid-item-one {
    background-color: var(--orange);
}

.grid-item-two {
    background-color: var(--palegreen);
    display: grid;
    height: 100%;
    width: 100%;
}

.grid-item-three {
    background-color: var(--palepink);
    display: grid;
    width: 100%;
    /* height: 100%; */
}

.input-row-item > input {
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    width: 100%;
    margin: auto;
    
}

.input-row-item {
    background-color: var(--red);
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input-col-item {
    box-sizing: border-box;
    background-color: var(--seagreen);
    border: 1px solid var(--t-2);
    display: flex;
    align-items: center;
}
.input-col-item > input {
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    width: 100%;
    margin: auto;
    
}

.input-col-item > input:focus {
    background-color: lightgreen;
}

.grid-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;


    background-color:transparent;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100dvh;
    margin-top: 80px;
    transform: translateY(-100%);
    transition:var(--transition-1)
}

.grid-code-container.open {
    transform: translateY(0%);
}

.grid-code {
    height:70dvh;
    width: 100vw;
    background-color:var(--bg-1);
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--bg-4);
}
.grid-code-blur {
    cursor: pointer;
    width: 100vw;
    flex:1 1 auto;
    background-color: var(--bg-b);

    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--t-1)
    
}



/* code blocks */
.code-line {
    font-size: var(--font-size-14);
    background-color: var(--bg-2);
    padding-bottom: 0.25rem;
}
.code-line-inner {
    font-size: var(--font-size-14);
    background-color: var(--bg-2);
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}
/* < /> */
.html-1{
    color: var(--t-2);
}
/* div */
.html-2 {
    color:hsl(27,99%,36%);
}
/* class */
.html-3 {
    color:var(--css);
}
/* = */
.html-4 {
    color:var(--darkgreen);
}
.html-5 {
    color:var(--sunset);
}
