.grid {
   display: flex;
   height: min-content;
   background-color: transparent; 
   gap: 1rem;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   /* width:min-content; */
   position: relative;
   
   
}
@media (width > 1280px){
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

}
.display__grid__box {
    display: grid;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--cp-gold);
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
}
.grid-box {
   
    display: grid;
    /* background-image: url("../public/images/2020-02-26.jpg"); */
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--cp-gold);
    background-color: transparent;
    box-sizing: border-box;
    position: relative;
}


.grid-box > span {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--t-1);
}
.grid-box > span > span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--t-2);
}
.grid-container {
    display: grid;
    grid-template-columns: 40px minmax(300px,1fr);
    grid-template-rows: 40px minmax(300px,1fr);
    gap:2px;
    /* width: 100vw; */
   width:min(100%,480px);
    background-color: var(--bg-4);
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    
}
.display__grid__box>div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 1rem;

    
    
}
.display__grid__box > div > span {
    color: white;
    background-color: var(--t-2);
    padding: 0.25rem 0.25rem;
    border-radius: 4px;
    font-size:11px;
    text-decoration:dotted;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    box-shadow: var(--box-shadow-1);
}
.grid-box > div:not(.display__grid__box) {
    cursor: grab;
    opacity: 0;
    background-color: transparent;
    box-sizing: border-box;
    background-image: repeating-linear-gradient(45deg,transparent, var(--grid) 5px 6px),repeating-linear-gradient(-45deg,transparent 0px 5px, var(--grid) 5px 6px);
    outline:2px solid var(--cp-bg);
    outline-offset: -3px;
    border: 1px solid var(--cp-purple);
    border-left: none;
    border-top: none;
    color:var(--bg-1);
    z-index: 1;
}

.grid-item-one {
    background-color:transparent;
}

.grid-item-two {
    background-color: transparent;
    display: grid;
    height: 100%;
    width: 100%;
}

.grid-item-three {
    background-color:transparent;
    display: grid;
    width: 100%;
    /* height: 100%; */
}

.input-row-item > input {
    transform: rotate(90deg);
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    width: 100%;
    display: inline-block;
    margin:0;
    color: var(--t-1);
    outline: none;
    height: auto;
    flex: 1 1 auto;
    
    writing-mode: vertical-lr;

}

.input-row-item {
    position: relative;
    overflow: hidden;
    background-color: var(--bg-3);
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.input-col-item {
    box-sizing: border-box;
    background-color: var(--bg-3);
    border: 1px solid var(--t-2);
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.input-col-item > input {
    box-sizing: border-box;
    border: 1px solid var(--t-2);
    width: 100%;
    margin: auto;
    color: var(--t-1);
    outline: none;
    
}

.input-col-item > input:focus {
    background-color:var(--t-2);
    color: var(--bg-2);
}
.input-row-item > input:focus {
    background-color:var(--t-2);
    color: var(--bg-2);
}



.grid-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;


    background-color:transparent;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100dvh;
    margin-top: 80px;
    transform: translateY(-100%);
    transition:var(--transition-1)
}

.grid-code-container.open {
    transform: translateY(0%);
}

.grid-code {
    height:70dvh;
    width: 100vw;
    background-color:var(--cp-bg);
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid var(--bg-4);

}
.grid-code-blur {
    cursor: pointer;
    width: 100vw;
    flex:1 1 auto;
    background-color: var(--bg-b);

    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--t-1)
    
}

.grid-code-blur:hover{
    opacity: 0.6;
}



/* code blocks */
.code-line {
    font-size: var(--font-size-14);
    background-color:#303841;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.code-line-inner {
    font-size: var(--font-size-14);
    background-color: #303841;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* < /> */
.html-1{
    color:#60b4b4 ;
}
/* div */
.html-2 {
    color:#ec6066;
}
/* class */
.html-3 {
    color:#c695c6   ;
}
/* = */
.html-4 {
    color:#f9ae57;
}
.html-5 {
    color:#8dc794;
}
/* blue:#4780cc;
red:#ec6066;
cyan:#60b4b4;
green:#8dc794;
background: #303841;
purple:#c695c6;
orange:#f9ae57; */
.grid-field-button {
    
    height: 32px;
    width: 32px;
    border: 1px solid var(--bg-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
    color: var(--bg-2);
    background-color: var(--t-4);
    cursor: pointer;
    transition: var(--transition-1);
}
.grid-field-button:hover {
    color: var(--t-1);
    font-size: var(--font-size-16);
    background-color: var(--themecolor);
}
.grid-code-css,.grid-code-html {
    padding: 1rem;
    background-color:#303841 ;
}

.icon-tool-c {
background-color: var(--yellow);
}

button[id="UNDO__btn"]:disabled{
    opacity: 0.5;
}