/* self-component */

.self {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0rem;
    border: none;
    background-color: transparent;
}

.self-top {
    display: flex;
    gap: 8px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-end;

}

.self-photo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image:url("../public/images/2020-02-26.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--bg-1);
    box-sizing: border-box;
}
.self-img {
    width: 40px;
    height: 40px;
    border-radius: 1px;
    background-image:url("../public/images/android-chrome-256x256.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-1);
    border: 1px solid var(--t-1);
    box-sizing: border-box;
    color: var(--t-1);
    font-size:38px;
    /* background-image: repeating-linear-gradient(transparent 0px, transparent 4px, var(--t-1) 4px, var(--t-1) 5px); */
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.hatch {
  /* box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(90deg,transparent 0px, transparent 4px, var(--t-1) 4px, var(--t-1) 5px); */

}
.self-img-corner {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  left: 0px;
  background-color: transparent;
}
.self-heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
    font-weight: 600;
    color: var(--t-1);
    font-size: var(--font-size-14);
}
.self-heading > span {
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.self-profession > div {
    font-weight: 400;
    color: var(--t-3);
    
}

.self-anchor {
    text-decoration: underline;
    font-size: inherit;
    color: var(--t-3);
    transition: var(--transition-1);
    cursor: pointer;
   
}
.self-anchor:hover {
    color: var(--themecolor);
}

.normal-anchor {
    margin-left: 0.25rem;
    text-decoration: none;
    font-size: inherit;
    color: var(--cp-red);
    transition: var(--transition-1);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.normal-anchor > .normal-anchor-text {
    text-decoration: none;
}
.header-mid {
    margin-left: auto;
}
/* theme button */
.theme-button {
  
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--t-1);
    font-size: var(--font-size-20);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
  }
  /* theme button */
  .theme-button:hover {
    color: var(--t-3);
    transition: var(--transition-1);
  }

  /* title component */
h1.title {
    color:var(--t-4);
    font-size: var(--font-size-48);
    font-weight: 500;
    letter-spacing: -2px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 24px;
    position: relative;
}


/* intro component */
.intro {
    font-size: var(--font-size-16);
  color: var(--cp-yellow);
  line-height:1.5rem ;
  font-weight:500;
  max-width: 50ch;
  margin: 0;
  
  display: flex;
  align-items: center;
  gap: 8px;
 
}

/* buttons */
.button-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: nowrap;
    margin-bottom: 0.8rem;
    position: relative;

}
.button-flex-200 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: nowrap;
  margin-bottom: 0.8rem;
  position: relative;
width: 220px;
}
.dark-button {
    padding: 8px 12px;
    border: 1px solid var(--bg-4);
    border-radius: var(--br);
    background-color: var(--t-3);
    color: var(--bg-2);
    font-size: var(--font-size-14);
    cursor: pointer;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

.light-button {
    padding: 8px 12px;
    border: 1px solid var(--bg-4);
    border-radius: var(--br);
    background-color: var(--t-2);
    color: var(--bg-2);
    font-size: var(--font-size-14);
    cursor: pointer;
    transition: var(--transition-1);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

.light-button:hover  {
    border-color: var(--bg-3);
    color: var(--t-3);
}

.color-button {
    padding: 8px 12px;
    border: 1px solid var(--bg-4);
    border-radius:var(--br);
    background-color: var(--t-3);
    color: var(--t-1);
    font-size: var(--font-size-14);
    cursor: pointer;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    transition: var(--transition-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    flex: 1 1 auto;
    /* width: 100%; */
    box-sizing: border-box;
}
.color-button:hover {
    background-color: var(--themecolor);
}
/* content-box */
.content-box {
    border-radius:var(--br);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border: 1px solid var(--bg-4);
    background-color: var(--cp-bg);
    flex-direction: column;
    width: 100%;
}


/* icon span */
.icon-span {
    height: 32px;
    width: 32px;
    border: 1px solid var(--cp-gold);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:var(--br);
    color: var(--cp-gold);
}
/* paragraph compoent */
.paragraph-component {
    font-size: var(--font-size-14);
      font-weight: 400;
      color: var(--cp-blue);
      line-height: 1.75rem;
      font-variant: normal;
      text-decoration: none;
      text-align: left;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      margin-bottom: 0.5rem;
     
  }
  
  .paragraph-component > span {
    font-weight: 500;
    color: var(--cp-purple);
    font-size: inherit;
    font-variant: normal;
      text-decoration: none;
      text-align: left;
      overflow-wrap: break-word;
      white-space: pre-wrap;

  }
  .paragraph-component > a {
    font-weight: 500;
    color: var(--cp-red);
    font-size: inherit;
    font-variant: normal;
      text-decoration: underline;
      text-align: left;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      transition: var(--transition-1);

  }
.paragraph-component > a > span {
  display: flex;
  align-items: center;
  text-decoration: underline;
}
  .paragraph-component > a:hover {
    color: var(--t-3);
  }

  .type-span {
    height: 32px;
    width: min-content;
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    border: 1px solid var(--bg-4);
    box-sizing: border-box;
    border-radius: var(--br);
    color: var(--cp-red);
    font-weight: 600;
  }

  /* flex col */
  .flex-col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0rem;
  }

  /* flex-row */
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    color: var(--t-1);
  } 

  /* email button */
.email-btn {
  display: flex;
  font-size: var(--font-size-14);
  font-weight: 600;
  color:var(--t-3) ;
  background-color:var(--bg-1) ;
  border: 1px solid var(--bg-4);
  padding:10px 1.5rem;
  border-radius:var(--br);
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  transition: all 0.25s ease;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 40px;
  

}
.email-btn:hover {
  border-color: var(--bg-2);
  color: var(--t-1);
}
.email-btn > button {
  margin-left: 0.5rem;
  font-size: var(--font-size-14);
  font-weight: 600;
  color:var(--t-3);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.email-btn:hover > button {
  color: var(--t-2);
}

.one-rem {
  height: 1rem;
  display: block;
}
